{% extends "base.html" %}
{% block content %}
    {% if not user.is_authenticated %}<c-hero />{% endif %}
    <div class="wrapper | u-max-inline-sz-l u-margin-start-l">
        <div class="stack">
            {% if snippets %}
                <c-snippets :snippets="snippets" />
            {% else %}
                <div class="no-snippets | center">
                    <p>No snippets available yet.</p>
                    <p class="u-text-muted">
                        Be the first to <a href="{% url 'snippet_create' %}">create a snippet</a>!
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
