@layer components {
  .c-footer {
    background: var(--color-bg-secondary);
    margin-top: var(--space-xl);
  }

  .c-footer__copyright {
    display: grid;
    place-self: center;
    text-align: center;
    font-size: var(--fs-small);
    color: var(--color-text-muted);
  }
}
