{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    <!-- TODO: Add a form to create a new snippet -->
    <form action="{% url 'snippets:snippet_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    <ul>
        {% for snippet in snippets %}
            <li>
                <a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a>
            </li>
            {% if snippet.user.pk == request.user.pk %}
                <a href="{{ snippet.get_edit_url }}">Edit</a>
                <a href="{{ snippet.get_delete_url }}">Delete</a>
                <a href="#">Share</a>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="step-links__current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
