{% extends 'base.html' %}
{% block title %}Explore{% endblock %}
{% block content %}
    <div x-data="{ showSnippetPreview: false, activeSnippet: { title: '', code: '' } }"
         class="wrapper | u-max-inline-sz-l">
        <div class="stack">
            <section class="grid">
                {% for snippet in snippets %}<c-snippet-card :snippet=snippet />{% endfor %}
            </section>
            <c-pagination :page_obj="page_obj" />
        </div>
        <c-snippet-preview-modal />
    </div>
{% endblock %}
