{% extends "base.html" %}
{% block title %}{{ snippet.title }}{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="box | u-shadow">
            <div class="stack">
                <div class="stack | u-gap-2xs">
                    <h4>{{ snippet.title }}</h4>
                    <p class="u-text-small u-text-muted">Shared snippet by {{ snippet.user.username }}</p>
                </div>
                {% if snippet.description %}<p>{{ snippet.description }}</p>{% endif %}
                <section class="stack | u-gap-2xs">
                    <c-code-block :code="snippet.code" lang="{{ snippet.language }}" />
                </section>
            </div>
        </div>
    </div>
{% endblock %}
