{% extends "base.html" %}
{% block title %}{{ snippet.title }}{% endblock %}
{% block content %}
    <h1>{{ snippet.title }}</h1>
    <p>{{ snippet.description }}</p>
    <pre>{{ snippet.code }}</pre>
    {% if snippet.user.pk == request.user.pk %}
        <a href="{{ snippet.get_edit_url }}">Edit</a>
        <a href="{{ snippet.get_delete_url }}">Delete</a>
        <form action="{{ snippet.get_share_url }}" method="post">
            {% csrf_token %}
            <button type="submit">Share</button>
        </form>
    {% endif %}
    <form method="post"
          action="{% url 'comments:post-comment' pk=snippet.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% for comment in snippet.comments.all %}
        <p>{{ comment.body }}</p>
        <p>... by {{ comment.user }}</p>
    {% endfor %}
{% endblock %}
