{% extends "base.html" %}
{% block title %}
    Password Reset
{% endblock title %}
{% block content %}
    <div class="wrapper | u-max-inline-sz-s">
        <form class="c-form | box" method="post">
            <div class="stack">
                <h2>Password Reset</h2>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% csrf_token %}
                <c-form-errors :errors="form.non_field_errors" />
                <c-form-field :id="form.email.id_for_label" :label="form.email.label" :field="form.email" :errors="form.email.errors" />
                <button class="c-button c-button--primary c-button--large" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}
