{% extends 'base.html' %}
{% block title %}Share {{ snippet.title }}{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="box | u-shadow">
            <div class="stack | u-gap-m">
                <h4>Share Link Created!</h4>
                <section x-data="{ copied: false }" class="stack | u-gap-2xs">
                    <div class="u-text-small">
                        <pre><code>{{ share_url }}</code></pre>
                    </div>
                    <button type="button"
                            @click.stop="$copy()"
                            class="cluster | u-justify-content-end">
                        <span class="u-padding-inline-2xs u-text-small u-text-muted u-border-thin u-border-muted"
                              x-show="!copied">Copy</span>
                        <span class="u-padding-inline-2xs u-text-small u-text-success u-border-thin u-border-success"
                              x-show="copied">Copied</span>
                    </button>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
