{% extends 'base.html' %}
{% block title %}{{ snippet.title }} - Shared Snippet{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="box | u-shadow">
            <div class="stack">
                <div class="stack | u-gap-2xs">
                    <h4>{{ snippet.title }}</h4>
                    <p class="u-text-small u-text-muted">
                        Posted by {{ snippet.author.username }}, {{ snippet.created_at | timesince }} ago
                    </p>
                </div>
                {% if snippet.description %}<p>{{ snippet.description }}</p>{% endif %}
                <section class="stack | u-gap-xs">
                    <c-code-block :code="snippet.code" :language="snippet.language" />
                </section>
            </div>
        </div>
    </div>
{% endblock %}
