<c-vars logo="{{ logo }}" />
<header class="c-header" data-position="sticky">
    <div class="c-header__content | wrapper | u-max-inline-sz-l">
        <nav class="c-nav | spaced-row">
            <a href="{% url 'explore' %}" class="c-logo">{{ logo }}</a>
            <ul class="c-nav__list | cluster | u-align-items-center" role="list">
                {% if user.is_authenticated %}
                    <li class="c-nav__item">
                        <a href="{% url 'snippets:dashboard' %}" class="c-nav__link">{{ user.username }}</a>
                    </li>
                {% endif %}
                <a class="c-button" href="{% url 'snippets:snippet_create' %}">Create</a>
            </ul>
        </nav>
    </div>
</header>
