{% load highlight %}
<article @click="activeSnippet = { title: '{{ snippet.title | escapejs }}', lang: '{{ snippet.language | escapejs }}', code: '{{ snippet.code | syntax_highlight:snippet.language | escapejs }}' }; showSnippetPreview = true"
         class="c-card | box | u-padding-xs">
    <div class="stack | u-gap-s u-min-block-sz-100">
        <header class="sidebar | u-gap-2xs">
            <ion-icon size="large" name="person-circle"></ion-icon>
            <div class="stack | u-gap-0">
                <p class="c-card__title">{{ snippet.title }}</p>
                <p class="c-card__meta">by {{ snippet.user }}, {{ snippet.created_at | timesince }} ago</p>
            </div>
        </header>
        {% if snippet.description %}<p class="u-text-small">{{ snippet.description | truncatechars:30 }}</p>{% endif %}
        <c-code-block :code="snippet.code" lang="{{ snippet.language }}" truncate="100" class_extras="u-flex-grow u-pos-relative" />
        <footer @click.stop class="spaced-row">
            <div class="cluster | u-gap-s">
                <button class="c-card__action" aria-label="Like post">♥</button>
                <button class="c-card__action" aria-label="Share post">↗</button>
                <button class="c-card__action" aria-label="Bookmark post">🔖</button>
            </div>
            <a href="{{ snippet.get_absolute_url }}"
               class="c-button | u-pos-relative">Read More</a>
        </footer>
    </div>
</article>
